# Arquivos de Segredos e Configurações de Ambiente
# A linha mais importante para a sua segurança!
.streamlit/secrets.toml

# Pastas de Ambiente Virtual Python
# Impede que você envie bibliotecas inteiras para o GitHub
venv/
env/
.venv/

# Arquivos temporários e de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de instalação e distribuição do Python
build/
dist/
*.egg-info/
  
# Arquivos de sistema operacional (macOS, Windows) que não precisam estar no repositório
.DS_Store
Thumbs.db

# Pastas de configuração de editores de código (ex: VS Code)
.vscode/
